html{font-family:GillSans, Calibri, Trebuchet, sans-serif;}
h1{font-size:29px;}
h2,h3,h4{font-size:27px;}
h5{font-size:18px;}
p{font-size:16px;}
.brand-logo{margin-left:80px;}
.icon_file_download{margin-right:15px;}
.nav-wrapper{background-color:#00BCD4;}
#home{margin-top:-20px;width:100%;height:100%;}
#home .parallax-container{height:610px !important;}
#home .hr_horizentale{margin:10px auto 20px auto;background-color:#00BCD4;width:50px;height:3px;}
#home .download-button{background-color:#00BCD4;}
.social{margin-top:50px;padding:0;}
.social i{margin-top:0;margin-left:40px;margin-right:40px;margin-bottom:0;text-align:center;font-size:2.5em;color:#555;overflow:hidden;cursor:pointer;transition:300ms ease !important;}
#facebook:hover{color:#0177B5;}
#github:hover{color:black;}
#linkedin:hover{color:#0177B5;}
#code:hover{color:#29A329;}
#mail:hover{color:#F7B401;}
#home .row{margin:0;}
#apropos{width:100%;height:100%;}
#apropos #paragraph-about{text-align:justify;text-justify:inter-word;margin-top:30px;}
#competance{width:100%;height:100%;}
#competance .row{padding:20px 100px;}
#competance .card-logo{margin-top:-60px !important;}
#competance .parallax-container{height:100% !important;}
#realisation{width:100%;height:100%;}
#realisation .row{padding:20px 100px;}
#realisation .style-angle-down{position:relative;}
#MessagePosition{position:fixed;bottom:35px;right:35px;}
#nav-mobile{margin-right:80px;z-index:1;}
@media screen and (min-width:200px) and (max-width:992px){.brand-logo{margin-left:0;font-size:5px;}
#nav-mobile{margin-right:0;}
.social i{margin-left:17px;margin-right:17px;}
h1{font-size:25px;}
p{font-size:18px;}
#realisation .row{padding:0;}
#competance .row{padding:0;}
}
abbr[title] {
  border-bottom: none !important;
  cursor: inherit !important;
  text-decoration: none !important;
}
.page-footer{background-color:#F5F2F0;color:black;}
.loading-screen{position:fixed;top:0;bottom:0;left:0;right:0;width:100%;height:100%;z-index:1000;background:#00BCD4;}
.facebook-style{text-align:center !important;margin:0 auto 0 auto !important;}
.fb-livechat,
.fb-widget{display:none}
.ctrlq.fb-button,
.ctrlq.fb-close{position:fixed;right:24px;cursor:pointer}
.ctrlq.fb-button{z-index:1;background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDEyOCAxMjgiIGhlaWdodD0iMTI4cHgiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMjggMTI4IiB3aWR0aD0iMTI4cHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxnPjxyZWN0IGZpbGw9IiMwMDg0RkYiIGhlaWdodD0iMTI4IiB3aWR0aD0iMTI4Ii8+PC9nPjxwYXRoIGQ9Ik02NCwxNy41MzFjLTI1LjQwNSwwLTQ2LDE5LjI1OS00Niw0My4wMTVjMCwxMy41MTUsNi42NjUsMjUuNTc0LDE3LjA4OSwzMy40NnYxNi40NjIgIGwxNS42OTgtOC43MDdjNC4xODYsMS4xNzEsOC42MjEsMS44LDEzLjIxMywxLjhjMjUuNDA1LDAsNDYtMTkuMjU4LDQ2LTQzLjAxNUMxMTAsMzYuNzksODkuNDA1LDE3LjUzMSw2NCwxNy41MzF6IE02OC44NDUsNzUuMjE0ICBMNTYuOTQ3LDYyLjg1NUwzNC4wMzUsNzUuNTI0bDI1LjEyLTI2LjY1N2wxMS44OTgsMTIuMzU5bDIyLjkxLTEyLjY3TDY4Ljg0NSw3NS4yMTR6IiBmaWxsPSIjRkZGRkZGIiBpZD0iQnViYmxlX1NoYXBlIi8+PC9zdmc+) center no-repeat #0084ff;width:60px;height:60px;text-align:center;bottom:24px;border:0;outline:0;border-radius:60px;-webkit-border-radius:60px;-moz-border-radius:60px;-ms-border-radius:60px;-o-border-radius:60px;box-shadow:0 1px 6px rgba(0, 0, 0, .06), 0 2px 32px rgba(0, 0, 0, .16);-webkit-transition:box-shadow .2s ease;background-size:80%;transition:all .2s ease-in-out}
.ctrlq.fb-button:focus,
.ctrlq.fb-button:hover{transform:scale(1.1);box-shadow:0 2px 8px rgba(0, 0, 0, .09), 0 4px 40px rgba(0, 0, 0, .24)}
.fb-widget{background:#fff;z-index:2;position:fixed;width:360px;height:435px;overflow:hidden;opacity:0;bottom:0;right:24px;border-radius:6px;-o-border-radius:6px;-webkit-border-radius:6px;box-shadow:0 5px 40px rgba(0, 0, 0, .16);-webkit-box-shadow:0 5px 40px rgba(0, 0, 0, .16);-moz-box-shadow:0 5px 40px rgba(0, 0, 0, .16);-o-box-shadow:0 5px 40px rgba(0, 0, 0, .16)}
.fb-credit{text-align:center;margin-top:8px}
.fb-credit a{transition:none;color:#bec2c9;font-family:Helvetica, Arial, sans-serif;font-size:12px;text-decoration:none;border:0;font-weight:400}
.ctrlq.fb-overlay{z-index:0;position:fixed;height:100vh;width:100vw;-webkit-transition:opacity .4s, visibility .4s;transition:opacity .4s, visibility .4s;top:0;left:0;background:rgba(0, 0, 0, .05);display:none}
.ctrlq.fb-close{z-index:4;padding:0 6px;background:#365899;font-weight:700;font-size:11px;color:#fff;margin:8px;border-radius:3px}
.ctrlq.fb-close::after{content:'x';font-family:sans-serif}

.card .card-image img {
  height: 150px;
}

/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
  background: url(../image/Preloader_2.gif) center no-repeat #fff;
}


.fb-livechat,
.fb-widget {
	display: none
}

.ctrlq.fb-button,
.ctrlq.fb-close {
	position: fixed;
	right: 24px;
	cursor: pointer
}

.ctrlq.fb-button {
	z-index: 1;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDEyOCAxMjgiIGhlaWdodD0iMTI4cHgiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMjggMTI4IiB3aWR0aD0iMTI4cHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxnPjxyZWN0IGZpbGw9IiMwMDg0RkYiIGhlaWdodD0iMTI4IiB3aWR0aD0iMTI4Ii8+PC9nPjxwYXRoIGQ9Ik02NCwxNy41MzFjLTI1LjQwNSwwLTQ2LDE5LjI1OS00Niw0My4wMTVjMCwxMy41MTUsNi42NjUsMjUuNTc0LDE3LjA4OSwzMy40NnYxNi40NjIgIGwxNS42OTgtOC43MDdjNC4xODYsMS4xNzEsOC42MjEsMS44LDEzLjIxMywxLjhjMjUuNDA1LDAsNDYtMTkuMjU4LDQ2LTQzLjAxNUMxMTAsMzYuNzksODkuNDA1LDE3LjUzMSw2NCwxNy41MzF6IE02OC44NDUsNzUuMjE0ICBMNTYuOTQ3LDYyLjg1NUwzNC4wMzUsNzUuNTI0bDI1LjEyLTI2LjY1N2wxMS44OTgsMTIuMzU5bDIyLjkxLTEyLjY3TDY4Ljg0NSw3NS4yMTR6IiBmaWxsPSIjRkZGRkZGIiBpZD0iQnViYmxlX1NoYXBlIi8+PC9zdmc+) center no-repeat #0084ff;
	width: 60px;
	height: 60px;
	text-align: center;
	bottom: 24px;
	border: 0;
	outline: 0;
	border-radius: 60px;
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	-ms-border-radius: 60px;
	-o-border-radius: 60px;
	box-shadow: 0 1px 6px rgba(0, 0, 0, .06), 0 2px 32px rgba(0, 0, 0, .16);
	-webkit-transition: box-shadow .2s ease;
	background-size: 80%;
	transition: all .2s ease-in-out
}

.ctrlq.fb-button:focus,
.ctrlq.fb-button:hover {
	transform: scale(1.1);
	box-shadow: 0 2px 8px rgba(0, 0, 0, .09), 0 4px 40px rgba(0, 0, 0, .24)
}

.fb-widget {
	background: #fff;
	z-index: 2;
	position: fixed;
	width: 360px;
	height: 435px;
	overflow: hidden;
	opacity: 0;
	bottom: 0;
	right: 24px;
	border-radius: 6px;
	-o-border-radius: 6px;
	-webkit-border-radius: 6px;
	box-shadow: 0 5px 40px rgba(0, 0, 0, .16);
	-webkit-box-shadow: 0 5px 40px rgba(0, 0, 0, .16);
	-moz-box-shadow: 0 5px 40px rgba(0, 0, 0, .16);
	-o-box-shadow: 0 5px 40px rgba(0, 0, 0, .16)
}

.fb-credit {
	text-align: center;
	margin-top: 8px
}

.fb-credit a {
	transition: none;
	color: #bec2c9;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	text-decoration: none;
	border: 0;
	font-weight: 400
}

.ctrlq.fb-overlay {
	z-index: 0;
	position: fixed;
	height: 100vh;
	width: 100vw;
	-webkit-transition: opacity .4s, visibility .4s;
	transition: opacity .4s, visibility .4s;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, .05);
	display: none
}

.ctrlq.fb-close {
	z-index: 4;
	padding: 0 6px;
	background: #365899;
	font-weight: 700;
	font-size: 11px;
	color: #fff;
	margin: 8px;
	border-radius: 3px
}

.ctrlq.fb-close::after {
	content: 'x';
	font-family: sans-serif
}